/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@100;600&family=Overpass:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

/* General Styles */
body {
    display: flex;
    justify-content: center;

}

.content {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 110%;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 5%;
}

/* Styles for the hamburger menu image */
.hamburger-menu {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-right: 0px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 770px) {
    .navbar {
        width: 100%;
    }

    .navbar {
        box-shadow: none;
    }

    .links {
        display: none !important;
    }
}

@media screen and (min-width: 770px) {
    .hamburger-menu {
        display: none;
        /* Hide the menu for larger screens */
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1;
    /* Ensure the overlay is above other content */
}

/* Add a class to show the overlay when the menu is open */
.overlay.active {
    display: block;
}

.extended-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 200px;
    height: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

}

/* Add a class to open the menu */
.extended-menu.open {
    display: block;
    max-height: 100%;
    opacity: 1;
    overflow: visible;
}

/* Add styles for the close button */
.close-button {
    position: fixed;
    /* Change to fixed */
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #494545;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

/* Add styles for the close button on hover */
.close-button:hover {
    color: #ddd;
}

.extended-menu ul {
    text-align: center;
    /* Center-align the text within the ul */
    list-style-type: none;
    padding: 0;
    margin-top: 35%;
}

.extended-menu li {
    padding: 10px 20px;
    /* Adjust padding as needed */
    text-align: center;
    /* Center-align the text within the li */
}

.extended-menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    /* Prevent text from wrapping */
    /* Add more styles as needed */
}

.logo {
    height: 20px;
    padding: 0 20px;
}

.leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: opacity 0.5s ease-in-out;

}


a {
    text-decoration: none;
    color: hsl(220, 14%, 55%);
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    float: right;
}


.cart,
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.carticon {
    width: 15px;
    height: 15px;
    display: flex;
    padding-left: 25px;
    margin-top: -10px;
    margin-left: 10px;
}

.cart-number {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color: #fff;
    background-color: #fe7d1b;
    border-radius: 25px; /* Adjust the border-radius value */
    padding: 2px 7px; /* Adjust the padding values */
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.avatar-img {
    height: 30px;
    width: 30px;
}

/* Main Section Styles */
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}

.sub-title.column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sub-title {
    color: hsl(26, 81%, 52%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    padding-bottom: 40px;
}

.description {
    padding-bottom: 30px;
    font-size: 16px;
    color: rgb(145, 145, 145);
}

.price {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.sale {
    color: hsl(26, 81%, 52%);
    font-weight: bold;
    background-color: hsl(25, 100%, 94%);
    height: 20px;
    width: 40px;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.price-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.old-price {
    color: rgb(185, 185, 185);
    font-size: 13px;
    padding-bottom: 20px;
    font-weight: bold;
}

.price-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.amount {
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    min-width: 80px;
    /* Set a minimum width to ensure buttons are always visible */
}

.minus,
.plus {
    cursor: pointer;
    border: none;
    height: 54px;
    /* Adjust height as needed */
    width: 50px;
    /* Adjust width as needed */
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    /* Increase border-radius for rounded corners */
}

.minus:hover,
.plus:hover {
    background-color: rgb(243, 243, 243);
    opacity: 50%;
    border-radius: 10px;
    /* Increase border-radius for rounded corners */
}

.value {
    font-size: 16px;
    /* Adjust font size as needed */
    margin: 0 10px;
    /* Adjust margin as needed */
}

.add-button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: hsl(26, 100%, 55%);
    height: 40px;
    width: 250px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 26px;
}

.add-button:hover {
    background-color: hsl(26, 100%, 55%);
    opacity: 50%;
}


.addtocart {
    margin-top: -15px;
}